<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<title>OnlineMall</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

		<!-- Custom styles -->
		<link th:href="@{/css/dashboard.css}" rel="stylesheet">

	</head>

	<body>

		<div th:replace="~{commons/common::topbar}"></div>

		<div class="container-fluid">
			<div class="row">

				<div th:replace="~{commons/common::sidebar(active='list.html')}"></div>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
					<form th:action="@{/admin/edit}" onsubmit="return checkAll()">
						<input type="hidden" name="adminID" th:value="${admin.getAdminID()}">
						<div class="form-group">
							<label for="adminName">用户名</label>
							<input th:value="${admin.getAdminName()}" type="text" class="form-control" id="adminName" name="adminName" onblur="checkName()">
							<span  style="font-size:13px" id="nameSpan"></span>
						</div>
						<div class="form-group">
							<label for="adminPwd">密码</label>
							<input th:value="${admin.getAdminPwd()}" type="password" class="form-control" id="adminPwd" name="adminPwd" onblur="checkPwd()">
							<span  style="font-size:13px" id="pwdSpan"></span>
						</div>
						<div class="form-group">
							<label for="rePwd">确认密码</label>
							<input type="password" class="form-control" id="rePwd" name="rePwd" onblur="checkRePwd()">
							<span  style="font-size:13px" id="rePwdSpan"></span>
						</div>
						<div class="form-group">
							<label for="adminEmail">邮箱</label>
							<input th:value="${admin.getAdminEmail()}" type="email" class="form-control" id="adminEmail" aria-describedby="emailHelp" name="adminEmail">
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						</div>
						<div class="form-group">
							<label for="adminTel">电话</label>
							<input th:value="${admin.getAdminTel()}" type="tel" class="form-control" id="adminTel" name="adminTel" onblur="checkTel()">
							<span  style="font-size:13px" id="telSpan"></span>
						</div>
						<div class="form-group">
							<label for="supervisor">是否为超级管理员</label>
							<input th:value="${admin.getSupervisor()}" type="text" class="form-control" id="supervisor" name="supervisor" aria-describedby="superHelp" onblur="checkSupervisor()">
							<span  style="font-size:13px" id="supervisorSpan"></span>
						</div>
						<button type="submit" class="btn btn-primary">确认修改</button>
					</form>
				</main>
			</div>
		</div>



		<script>
			function checkName() {
				var name = document.getElementById("adminName").value;
				var spanNode = document.getElementById("nameSpan");
				var reg = /^[\u4E00-\u9FA5A-Za-z0-9]{4,10}$/;
				if(reg.test(name)){
					spanNode.innerHTML = "";
					return true;
				}else{
					spanNode.innerHTML = "中文、英文、数字但不包括下划线等符号且长度在4-10之间".fontcolor("red");
					return false;
				}
			}
			function checkPwd() {
				var pwd = document.getElementById("adminPwd").value;
				var spanNode = document.getElementById("pwdSpan");
				var reg = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,10}$/;
				if(reg.test(pwd)){
					spanNode.innerHTML = "";
					return true;
				}else{
					spanNode.innerHTML = "必须包含大小写字母和数字的组合，可以使用特殊字符，长度在8-10之间".fontcolor("red");
					return false;
				}
			}
			function checkRePwd(){
				var pwd=document.getElementById("adminPwd").value;
				var rePwd=document.getElementById("rePwd").value;
				var spanNode=document.getElementById("rePwdSpan");
				if(pwd==rePwd){
					spanNode.innerHTML="";
					return true;
				}
				else{
					spanNode.innerHTML="两次输入的密码不一致".fontcolor("red");
					return false;
				}
			}
			function checkTel() {
				var tel = document.getElementById("adminTel").value;
				var spanNode = document.getElementById("telSpan");
				var reg = /^(13[0-9]|14[5|7]|15[0|1|2|3|4|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/;
				if(reg.test(tel)){
					spanNode.innerHTML = "";
					return true;
				}else{
					spanNode.innerHTML = "手机号码".fontcolor("red");
					return false;
				}
			}
			function checkSupervisor() {
				var supervisor = document.getElementById("supervisor").value;
				var spanNode = document.getElementById("supervisorSpan");
				if(supervisor=='is'||supervisor=='not'){
					spanNode.innerHTML = "";
					return true;
				}else{
					spanNode.innerHTML = "is or not".fontcolor("red");
					return false;
				}
			}
			function checkAll() {
				var name = checkName();
				var pwd = checkPwd();
				var rePwd=checkRePwd();
				var tel=checkTel();
				var supervisor=checkSupervisor();
				if(name&&pwd&&rePwd&&tel&&supervisor){
					return true;
				}else{
					return false;
				}
			}
		</script>
	</body>

</html>