<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <ul class="location_icon">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i><br> NanChang</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i><br> +86 13487486818</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><br> drew.rose5@icloud.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Copyright &copy; 2020.Sungla All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>