<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>外套</title>
        <style>
            body{
                background-image:url("/static/img/背景.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
            }
            h1{text-align: center;font-size:70px;font-family: 楷体;color:gold}
            h3{text-align:left;font-size:40px;font-family:楷体}
            font{color:red}
            div{
                width: 300px;
                height:550px;
                border: black 1px solid;
                background-color: aliceblue;
                padding:10px;
            }
            select{
                width:16em;
                display:block;
                margin:10px;
            }
            a{
                font-family:楷体;
                font-size:20px;
                color:black;
                text-decoration: none;
            }
            p{font-family: 楷体}
            .right{position:absolute;right:0px;top:0px}
            td{font-family: 楷体}
            select{font-family: 楷体}
            option{font-family: 楷体}
            button{font-family: 楷体}
        </style>
    </head>
    <body>
        <header>
            <h1>外套</h1>
        </header>
        <nav class="right">
            <button><a href="/user/main.html">返回首页</a></button>
<!--            <button><a href="/user/shopping_cart.html">购物车</a></button>-->
<!--            <button><a href="#">个人中心</a></button>-->
        </nav>
        <hr size="2" color="lightblue">
        <h3>所有商品</h3>
        <table align="center">
            <tr>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static src="/static/img/外套1.jpg" alt="" width="300px" height="300px"/>
                            <p>冬季皮毛一体真皮皮衣男山羊皮加绒加厚高端皮夹克羊羔绒男士外套<br>
                                价格:<font>¥758</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="黑色">黑色</option>
                                            <option value="咖啡色">咖啡色</option>
                                            <option value="红棕色">红棕色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static src="/static/img/外套2.jpg" alt="" width="300px" height="300px"/>
                            <p>摇粒绒抓绒衣外套男加厚潮2020秋冬季新款男士夹克韩版潮流百搭bs<br>
                                价格:<font>¥545</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="黑色">黑色</option>
                                            <option value="灰色">灰色</option>
                                            <option value="宝蓝色">宝蓝色</option>
                                            <option value="军绿色">军绿色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static src="/static/img/外套3.jpg" alt="" width="300px" height="300px"/>
                            <p>羊羔毛皮衣男真皮双面穿皮毛一体冬季男士夹克外套加绒加厚韩版潮<br>
                                价格:<font>¥528</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="火山灰">火山灰</option>
                                            <option value="骆驼棕">骆驼棕</option>
                                            <option value="牛油果绿">牛油果绿</option>
                                            <option value="宝石蓝">宝石蓝</option>
                                            <option value="颗粒黑">颗粒黑</option>
                                            <option value="暗夜绿">暗夜绿</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static src="/static/img/外套4.jpg" alt="" width="300px" height="300px"/>
                            <p>ls男士皮毛一体外套冬季韩版真皮真毛皮衣潮皮夹克男冬季加绒加厚<br>
                                价格:<font>¥749</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="黑色">黑色</option>
                                            <option value="红色">红色</option>
                                            <option value="红棕色">红棕色</option>
                                            <option value="深棕色">深棕色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static src="/static/img/外套5.jpg" alt="" width="300px" height="300px"/>
                            <p>冬季外套男秋冬韩版潮牌修身百搭加绒加厚连帽运动休闲夹克男青年<br>
                                价格:<font>¥478</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="S">S</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="黑色">黑色</option>
                                            <option value="灰色">灰色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static src="/static/img/外套6.jpg" alt="" width="300px" height="300px"/>
                            <p>真皮皮衣男秋冬季新款韩版修身潮流加绒夹克男士帅气薄款机车外套<br>
                                价格:<font>¥418</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="咖啡色">咖啡色</option>
                                            <option value="黑色">黑色</option>
                                            <option value="酒红色">酒红色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static src="/static/img/外套7.jpg" alt="" width="300px" height="300px"/>
                            <p>秋冬季真皮皮衣男皮毛一体加绒加厚潮帅气羊羔毛夹克牛皮男士外套<br>
                                价格:<font>¥338</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="加绒灰毛">加绒灰毛</option>
                                            <option value="加绒黄毛">加绒黄毛</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static src="/static/img/外套8.jpg" alt="" width="300px" height="300px"/>
                            <p>真皮皮衣男秋冬加绒加厚修身潮流外套男士帅气休闲百搭机车皮夹克<br>
                                价格:<font>¥418</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="咖啡色">咖啡色</option>
                                            <option value="黑色">黑色</option>
                                            <option value="军绿色">军绿色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static src="/static/img/外套9.jpg" alt="" width="300px" height="300px"/>
                            <p>花花公子男士皮衣春秋季上衣秋装韩版潮流休闲机车pu皮夹克外套男<br>
                                价格:<font>¥118</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="黑色">黑色</option>
                                            <option value="土黄">土黄</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static src="/static/img/外套10.jpg" alt="" width="300px" height="300px"/>
                            <p>皮衣男潮真皮秋冬季新款韩版潮流修身百搭男士加绒加厚皮夹克外套<br>
                                价格:<font>¥398</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2L">2L</option>
                                            <option value="3L">3L</option>
                                            <option value="4L">4L</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="黑色薄款">黑色薄款</option>
                                            <option value="黑色加绒">黑色加绒</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static src="/static/img/外套11.jpg" alt="" width="300px" height="300px"/>
                            <p>香港潮牌小标大码棒球领工装外套男士宽松夹克加棉加厚保暖棉衣男<br>
                                价格:<font>¥398</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="军绿色">军绿色</option>
                                            <option value="黑色">黑色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static src="/static/img/外套12.jpg" alt="" width="300px" height="300px"/>
                            <p>香港潮牌机能夹克男日系百搭宽松大码加绒ins超火的连帽防风外套<br>
                                价格:<font>¥389</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="浅蓝色">浅蓝色</option>
                                            <option value="黑色">黑色</option>
                                            <option value="墨绿色">墨绿色</option>
                                            <option value="军绿色">军绿色</option>
                                            <option value="深灰色">深灰色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>