<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>羽绒服</title>
    <style>
        body{
            background-image:url("/static/img/背景.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
        }
        h1{text-align: center;font-size:70px;font-family: 楷体;color:gold}
        h3{text-align:left;font-size:40px;font-family:楷体}
        font{color:red}
        div{
            width: 300px;
            height:550px;
            border: black 1px solid;
            background-color: aliceblue;
            padding:10px;
        }
        select{
            width:16em;
            display:block;
            margin:10px;
        }
        a{
            font-family:楷体;
            font-size:20px;
            color:black;
            text-decoration: none;
        }
        p{font-family: 楷体}
        .right{position:absolute;right:0px;top:0px}
        td{font-family: 楷体}
        select{font-family: 楷体}
        option{font-family: 楷体}
        button{font-family: 楷体}
    </style>
</head>
<body>
<header>
    <h1>羽绒服</h1>
</header>
<nav class="right">
    <button><a href="/user/main.html">返回首页</a></button>
<!--    <button><a href="/user/shopping_cart.html">购物车</a></button>-->
<!--    <button><a href="#">个人中心</a></button>-->
</nav>
<hr size="2" color="lightblue">
<h3>所有商品</h3>
<table align="center">
    <tr>
        <td>
            <div>
                <form method="post" action="URL">
                    <static src="/static/img/羽绒服1.jpg" alt="" width="300px" height="300px"/>
                    <p>羽绒服男中长款2020年新款秋冬季韩版帅气潮流正品牌加厚男士外套<br>
                        价格:<font>¥959</font><br>
                    </p>
                    <table>
                        <tr>
                            <td>尺码</td>
                            <td>
                                <select aria-label="尺码">
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="2XL">2XL</option>
                                    <option value="3XL">3XL</option>
                                    <option value="4XL">4XL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td>
                                <select aria-label="颜色">
                                    <option value="黑色">黑色</option>
                                    <option value="灰色">灰色</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button"><a href="#">加入购物车</a></button>
                </form>
            </div>
        </td>
        <td>
            <div>
                <form method="post" action="URL">
                    <static src="/static/img/羽绒服2.jpg" alt="" width="300px" height="300px"/>
                    <p>新款冬季羽绒服男士中长款加厚保暖潮流帅气韩版修身高端男装外套<br>
                        价格:<font>¥1628</font><br>
                    </p>
                    <table>
                        <tr>
                            <td>尺码</td>
                            <td>
                                <select aria-label="尺码">
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="2XL">2XL</option>
                                    <option value="3XL">3XL</option>
                                    <option value="4XL">4XL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td>
                                <select aria-label="颜色">
                                    <option value="黑色中长款">黑色中长款</option>
                                    <option value="灰色中长款">灰色中长款</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button"><a href="#">加入购物车</a></button>
                </form>
            </div>
        </td>
        <td>
            <div>
                <form method="post" action="URL">
                    <static src="/static/img/羽绒服3.jpg" alt="" width="300px" height="300px"/>
                    <p>薄款羽绒服男短款冬季保暖白鸭绒潮流纯色高端上衣服立领男士外套<br>
                        价格:<font>¥1068</font><br>
                    </p>
                    <table>
                        <tr>
                            <td>尺码</td>
                            <td>
                                <select aria-label="尺码">
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="2XL">2XL</option>
                                    <option value="3XL">3XL</option>
                                    <option value="4XL">4XL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td>
                                <select aria-label="颜色">
                                    <option value="银灰">银灰</option>
                                    <option value="黑色">黑色</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button"><a href="#">加入购物车</a></button>
                </form>
            </div>
        </td>
        <td>
            <div>
                <form method="post" action="URL">
                    <static src="/static/img/羽绒服4.jpg" alt="" width="300px" height="300px"/>
                    <p>亮面羽绒服男2020年新款冬季短款加厚潮流帅气白鸭绒潮牌男士外套<br>
                        价格:<font>¥689</font><br>
                    </p>
                    <table>
                        <tr>
                            <td>尺码</td>
                            <td>
                                <select aria-label="尺码">
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="2XL">2XL</option>
                                    <option value="3XL">3XL</option>
                                    <option value="4XL">4XL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td>
                                <select aria-label="颜色">
                                    <option value="黑色">黑色</option>
                                    <option value="黑灰色">黑灰色</option>
                                    <option value="银色">银色</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button"><a href="#">加入购物车</a></button>
                </form>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <form method="post" action="URL">
                    <static src="/static/img/羽绒服5.jpg" alt="" width="300px" height="300px"/>
                    <p>冬季羽绒服男士潮中长款2020新款潮流帅气加厚大毛领过膝派克外套<br>
                        价格:<font>¥478</font><br>
                    </p>
                    <table>
                        <tr>
                            <td>尺码</td>
                            <td>
                                <select aria-label="尺码">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td>
                                <select aria-label="颜色">
                                    <option value="黑色">黑色</option>
                                    <option value="米白色">米白色</option>
                                    <option value="湖蓝色">湖蓝色</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button"><a href="#">加入购物车</a></button>
                </form>
            </div>
        </td>
        <td>
            <div>
                <form method="post" action="URL">
                    <static src="/static/img/羽绒服6.jpg" alt="" width="300px" height="300px"/>
                    <p>白鸭绒羽绒服男士中长款2020新款冬季韩版修身帅气加厚连帽外套男<br>
                        价格:<font>¥1286</font><br>
                    </p>
                    <table>
                        <tr>
                            <td>尺码</td>
                            <td>
                                <select aria-label="尺码">
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="2XL">2XL</option>
                                    <option value="3XL">3XL</option>
                                    <option value="4XL">4XL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td>
                                <select aria-label="颜色">
                                    <option value="灰色">灰色</option>
                                    <option value="黑色">黑色</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button"><a href="#">加入购物车</a></button>
                </form>
            </div>
        </td>
        <td>
            <div>
                <form method="post" action="URL">
                    <static src="/static/img/羽绒服7.jpg" alt="" width="300px" height="300px"/>
                    <p>冬季男士羽绒服中长款2020新款韩版潮流白鸭绒加厚保暖皮大衣外套<br>
                        价格:<font>¥1079</font><br>
                    </p>
                    <table>
                        <tr>
                            <td>尺码</td>
                            <td>
                                <select aria-label="尺码">
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="2XL">2XL</option>
                                    <option value="3XL">3XL</option>
                                    <option value="4XL">4XL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td>
                                <select aria-label="颜色">
                                    <option value="黑色">黑色</option>
                                    <option value="黑色861">黑色861</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button"><a href="#">加入购物车</a></button>
                </form>
            </div>
        </td>
        <td>
            <div>
                <form method="post" action="URL">
                    <static src="/static/img/羽绒服8.jpg" alt="" width="300px" height="300px"/>
                    <p>2020冬季新款羽绒服男中长款韩版帅气修身立领男士外套加厚冬装<br>
                        价格:<font>¥988</font><br>
                    </p>
                    <table>
                        <tr>
                            <td>尺码</td>
                            <td>
                                <select aria-label="尺码">
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="2XL">2XL</option>
                                    <option value="3XL">3XL</option>
                                    <option value="4XL">4XL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td>
                                <select aria-label="颜色">
                                    <option value="灰色">灰色</option>
                                    <option value="黑色">黑色</option>
                                    <option value="墨绿色">墨绿色</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button"><a href="#">加入购物车</a></button>
                </form>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <form method="post" action="URL">
                    <static src="/static/img/羽绒服9.jpg" alt="" width="300px" height="300px"/>
                    <p>花花公子冬季带帽加厚羽绒服男短款韩版青年帅气学生男装外套潮流<br>
                        价格:<font>¥198</font><br>
                    </p>
                    <table>
                        <tr>
                            <td>尺码</td>
                            <td>
                                <select aria-label="尺码">
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="2XL">2XL</option>
                                    <option value="3XL">3XL</option>
                                    <option value="4XL">4XL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td>
                                <select aria-label="颜色">
                                    <option value="黑色">黑色</option>
                                    <option value="白色">白色</option>
                                    <option value="银色">银色</option>
                                    <option value="红色">红色</option>
                                    <option value="蓝色">蓝色</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button"><a href="#">加入购物车</a></button>
                </form>
            </div>
        </td>
        <td>
            <div>
                <form method="post" action="URL">
                    <static src="/static/img/羽绒服10.jpg" alt="" width="300px" height="300px"/>
                    <p>羽绒服男中长款2020年新款冬季韩版立领外套潮流加厚正品品牌男装<br>
                        价格:<font>¥968</font><br>
                    </p>
                    <table>
                        <tr>
                            <td>尺码</td>
                            <td>
                                <select aria-label="尺码">
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="2L">2L</option>
                                    <option value="3L">3L</option>
                                    <option value="4L">4L</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td>
                                <select aria-label="颜色">
                                    <option value="黑色">黑色</option>
                                    <option value="卡其">卡其</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button"><a href="#">加入购物车</a></button>
                </form>
            </div>
        </td>
        <td>
            <div>
                <form method="post" action="URL">
                    <static src="/static/img/羽绒服11.jpg" alt="" width="300px" height="300px"/>
                    <p>Adidas阿迪达斯中长款羽绒服2020新品男士修身韩版加厚休闲外套潮<br>
                        价格:<font>¥598</font><br>
                    </p>
                    <table>
                        <tr>
                            <td>尺码</td>
                            <td>
                                <select aria-label="尺码">
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="2XL">2XL</option>
                                    <option value="3XL">3XL</option>
                                    <option value="4XL">4XL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td>
                                <select aria-label="颜色">
                                    <option value="军绿色">军绿色</option>
                                    <option value="黑色">黑色</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button"><a href="#">加入购物车</a></button>
                </form>
            </div>
        </td>
        <td>
            <div>
                <form method="post" action="URL">
                    <static src="/static/img/羽绒服12.jpg" alt="" width="300px" height="300px"/>
                    <p>香男士羽绒服中长款冬季加厚保暖工装潮牌外套韩版潮流冬装毛领大衣<br>
                        价格:<font>¥1588</font><br>
                    </p>
                    <table>
                        <tr>
                            <td>尺码</td>
                            <td>
                                <select aria-label="尺码">
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="2XL">2XL</option>
                                    <option value="3XL">3XL</option>
                                    <option value="4XL">4XL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td>
                                <select aria-label="颜色">
                                    <option value="卡其">卡其</option>
                                    <option value="黑色">黑色</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button"><a href="#">加入购物车</a></button>
                </form>
            </div>
        </td>
    </tr>
</table>
</body>
</html>