<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>卫衣</title>
        <style>
            body{
                background-image:url("/static/img/背景.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
            }
            h1{text-align: center;font-size:70px;font-family: 楷体;color:gold}
            h3{text-align:left;font-size:40px;font-family:楷体}
            font{color:red}
            div{
                width: 300px;
                height:550px;
                border: black 1px solid;
                background-color: aliceblue;
                padding:10px;
            }
            select{
                width:16em;
                display:block;
                margin:10px;
            }
            a{
                font-family:楷体;
                font-size:20px;
                color:black;
                text-decoration: none;
            }
            p{font-family: 楷体}
            .right{position:absolute;right:0px;top:0px}
            td{font-family: 楷体}
            select{font-family: 楷体}
            option{font-family: 楷体}
            button{font-family: 楷体}
        </style>
    </head>
    <body>
        <header>
            <h1>卫衣</h1>
        </header>
        <nav class="right">
            <button><a href="在线商城.html">返回首页</a></button>
            <button><a href="#">购物车</a></button>
            <button><a href="#">个人中心</a></button>
        </nav>
        <hr size="2" color="lightblue">
        <h3>所有商品</h3>
        <table align="center">
            <tr>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static  src="img/卫衣1.jpg" alt="" width="300px" height="300px"/>
                            <p>秋冬款圆领白色卫衣男纯棉潮牌加绒加厚长袖T恤男宽松大码打底衫<br>
                                价格:<font>¥368</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="白色">白色</option>
                                            <option value="黑色">黑色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static  src="img/卫衣2.jpg" alt="" width="300px" height="300px"/>
                            <p>耐克顿圆领长袖卫衣男2020新款宽松潮流秋冬加绒套头T桖休闲外套<br>
                                价格:<font>¥118</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="黑色3096">黑色3096</option>
                                            <option value="灰色3096">灰色3096</option>
                                            <option value="黑色3058">黑色3058</option>
                                            <option value="深灰3058">深灰3058</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static  src="img/卫衣3.jpg" alt="" width="300px" height="300px"/>
                            <p>香港潮牌虎头圆领卫衣男秋冬款宽松加绒加厚青年太空棉3D印花长袖<br>
                                价格:<font>¥338</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="虎头白色">虎头白色</option>
                                            <option value="虎头黑色">虎头黑色</option>
                                            <option value="字母白色">字母白色</option>
                                            <option value="字母黑色">字母黑色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static  src="img/卫衣4.jpg" alt="" width="300px" height="300px"/>
                            <p>秋冬季男士半高领卫衣加厚长袖t恤秋装上衣2020男装新款打底衫潮<br>
                                价格:<font>¥618</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="深蓝色">深蓝色</option>
                                            <option value="米色">米色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static  src="img/卫衣5.jpg" alt="" width="300px" height="300px"/>
                            <p>Supreme 20FW Nike Jewel Crewneck耐克联名男女秋冬圆领卫衣潮牌<br>
                                价格:<font>¥1860</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="S">S</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="白色">白色</option>
                                            <option value="黑色">黑色</option>
                                            <option value="黄色">黄色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static  src="img/卫衣6.jpg" alt="" width="300px" height="300px"/>
                            <p>Adidas阿迪达斯三叶草运动卫衣男女连帽秋冬款加绒加厚情侣外套潮<br>
                                价格:<font>¥128</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="白色">白色</option>
                                            <option value="黑色">黑色</option>
                                            <option value="灰色">灰色</option>
                                            <option value="红色">红色</option>
                                            <option value="灰蓝">灰蓝</option>
                                            <option value="粉色">粉色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static  src="img/卫衣7.jpg" alt="" width="300px" height="300px"/>
                            <p>香港潮牌熊猫卫衣男日系百搭宽松大码加绒ins情侣装无帽长袖外套<br>
                                价格:<font>¥338</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="白色">白色</option>
                                            <option value="黑色">黑色</option>
                                            <option value="湖蓝色">湖蓝色</option>
                                            <option value="灰蓝色">灰蓝色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static  src="img/卫衣8.jpg" alt="" width="300px" height="300px"/>
                            <p>潮牌加绒连帽卫衣男2020秋款潮流套头衫韩版帽衫加厚休闲薄款外套<br>
                                价格:<font>¥348</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="灰色">灰色</option>
                                            <option value="黑色">黑色</option>
                                            <option value="墨绿色">墨绿色</option>
                                            <option value="红色">红色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static  src="img/卫衣9.jpg" alt="" width="300px" height="300px"/>
                            <p>Nike耐克卫衣男AJ乔丹加绒加厚套头衫冬季情侣宽松外套印花上衣服<br>
                                价格:<font>¥178</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="S">S</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="黑色">黑色</option>
                                            <option value="红色">红色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static  src="img/卫衣10.jpg" alt="" width="300px" height="300px"/>
                            <p>潮牌加绒连帽卫衣男2020秋款潮流套头衫韩版帽衫加厚休闲薄款外套<br>
                                价格:<font>¥850</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="S">S</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="灰色">灰色</option>
                                            <option value="黑色">黑色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static  src="img/卫衣11.jpg" alt="" width="300px" height="300px"/>
                            <p>男士卫衣圆领纯棉秋冬打底衫男长袖t恤2020新款高端男装潮流上衣<br>
                                价格:<font>¥598</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="深灰色">深灰色</option>
                                            <option value="湖蓝色">湖蓝色</option>
                                            <option value="墨绿色">墨绿色</option>
                                            <option value="酒红色">酒红色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="post" action="URL">
                            <static  src="img/卫衣12.jpg" alt="" width="300px" height="300px"/>
                            <p>JEEP正品男士秋冬装长袖T恤打底衫体恤宽松圆领纯棉套头加绒卫衣<br>
                                价格:<font>¥148</font><br>
                            </p>
                            <table>
                                <tr>
                                    <td>尺码</td>
                                    <td>
                                        <select aria-label="尺码">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option value="4XL">4XL</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>颜色:</td>
                                    <td>
                                        <select aria-label="颜色">
                                            <option value="灰色">灰色</option>
                                            <option value="黑色">黑色</option>
                                            <option value="墨绿色">墨绿色</option>
                                            <option value="宝蓝色">宝蓝色</option>
                                            <option value="红色">红色</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <button type="button"><a href="#">加入购物车</a></button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>