<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


		<title>OnlineMall</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

		<!-- Custom styles -->
		<link th:href="@{/css/dashboard.css}" rel="stylesheet">
		<style type="text/css">

			.barcon {
				width: 1000px;
				margin: 0 auto;
				text-align: center;
			}
			.barcon1 {
				font-size: 17px;
				float: left;
				margin-top: 20px;
			}
			.barcon2 {
				float: right;
			}
			.barcon2 ul {
				margin: 20px 0;
				padding-left: 0;
				list-style: none;
				text-align: center;
			}
			.barcon2 li {
				display: inline;
			}
			.barcon2 a {
				font-size: 16px;
				font-weight: normal;
				display: inline-block;
				padding: 5px;
				padding-top: 0;
				color: black;
				border: 1px solid #ddd;
				background-color: #fff;
			}
			.barcon2 a:hover{
				background-color: #eee;
			}
			.ban {
				opacity: .4;
			}
		</style>
	</head>

	<body>

		<div th:replace="~{commons/common::topbar}"></div>

		<div class="container-fluid">
			<div class="row">

				<div th:replace="~{commons/common::sidebar(active='goods')}"></div>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
					<h2>商品列表</h2>
					<a class="btn btn-sm btn-success" th:href="@{/transit2}">上架新商品</a>
					<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
							<tr>
								<th>商品编号</th>
								<th>商品名</th>
								<th>描述</th>
								<th>类别</th>
								<th>价格</th>
								<th>库存</th>
								<th>url</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody id="page">
							<tr th:each="goods:${items}">
								<td th:text="${goods.getGoodsID()}"></td>
								<td th:text="${goods.getGoodsName()}"></td>
								<td th:text="${goods.getDescription()}"></td>
								<td th:text="${goods.getCategory()}"></td>
								<td th:text="${goods.getPrice()}"></td>
								<td th:text="${goods.getStock()}"></td>
								<td th:text="${goods.getImage()}"></td>
								<td>
									<a class="btn btn-sm btn-primary" th:href="@{/transit1(goodsID=${goods.getGoodsID()})}">编辑商品信息</a>
									<a class="btn btn-sm btn-danger" th:href="@{/goods/delete(goodsID=${goods.getGoodsID()})}">下架</a>
								</td>
							</tr>
							</tbody>
						</table>

						<div id="barcon" class="barcon" >
							<div id="barcon1" class="barcon1"></div>
							<div id="barcon2" class="barcon2">
								<ul>
									<li><a href="###" id="firstPage">首页</a></li>
									<li><a href="###" id="prePage">上一页</a></li>
									<li><a href="###" id="nextPage">下一页</a></li>
									<li><a href="###" id="lastPage">尾页</a></li>
									<li><select id="jumpWhere">
									</select></li>
									<li><a href="###" id="jumpPage" onclick="jumpPage()">跳转</a></li>
								</ul>
							</div>
						</div>

					</div>
				</main>
			</div>
		</div>

		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>


		<script>

			$(function(){

				goPage(1,10);
				var tempOption="";
				for(var i=1;i<=totalPage;i++)
				{
					tempOption+='<option value='+i+'>'+i+'</option>'
				}
				$("#jumpWhere").html(tempOption);
			})


			var pageSize=0;//每页显示行数
			var currentPage_=1;//当前页全局变量，用于跳转时判断是否在相同页，在就不跳，否则跳转。
			var totalPage;//总页数
			function goPage(pno,psize){
				var itable = document.getElementById("page");
				var num = itable.rows.length;//表格所有行数(所有记录数)

				pageSize = psize;//每页显示行数
				//总共分几页
				if(num/pageSize > parseInt(num/pageSize)){
					totalPage=parseInt(num/pageSize)+1;
				}else{
					totalPage=parseInt(num/pageSize);
				}
				var currentPage = pno;//当前页数
				currentPage_=currentPage;
				var startRow = (currentPage - 1) * pageSize+1;
				var endRow = currentPage * pageSize;
				endRow = (endRow > num)? num : endRow;
				//遍历显示数据实现分页
				for(var i=1;i<(num+1);i++){
                    var irow = itable.rows[i-1];
                    if(i>=startRow && i<=endRow){
                        irow.style.display = "";
                    }else{
                        irow.style.display = "none";
                    }
                }

				$("#adminTbody tr").hide();
				for(var i=startRow-1;i<endRow;i++)
				{
					$("#adminTbody tr").eq(i).show();
				}
				var tempStr = "共"+num+"件商品 分"+totalPage+"页 当前第"+currentPage+"页";
				document.getElementById("barcon1").innerHTML = tempStr;

				if(currentPage>1){
					$("#firstPage").on("click",function(){
						goPage(1,psize);
					}).removeClass("ban");
					$("#prePage").on("click",function(){
						goPage(currentPage-1,psize);
					}).removeClass("ban");
				}else{
					$("#firstPage").off("click").addClass("ban");
					$("#prePage").off("click").addClass("ban");
				}

				if(currentPage<totalPage){
					$("#nextPage").on("click",function(){
						goPage(currentPage+1,psize);
					}).removeClass("ban")
					$("#lastPage").on("click",function(){
						goPage(totalPage,psize);
					}).removeClass("ban")
				}else{
					$("#nextPage").off("click").addClass("ban");
					$("#lastPage").off("click").addClass("ban");
				}

				$("#jumpWhere").val(currentPage);
			}


			function jumpPage()
			{
				var num=parseInt($("#jumpWhere").val());
				if(num!=currentPage_)
				{
					goPage(num,pageSize);
				}
			}

		</script>


	</body>

</html>