<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <!-- bootstrap css -->
      <link rel="stylesheet" th:href="@{/css/bootstraps.min.css}">
      <!-- style css -->
      <link rel="stylesheet" th:href="@{/css/styles.css}">
      <!-- Responsive-->
      <link rel="stylesheet" th:href="@{/css/responsive.css}">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
      <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}" media="screen">
   </head>
   <!-- body -->
   <body class="main-layout position_head">
      <!-- header -->
      <div th:replace="~{commons/header::header(active='about')}"></div>
      <!-- end header -->
      <!-- about section -->
      <div class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="about_img">
                     <figure><img th:src="@{/img/about_img.png}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2>About Our Shop</h2>
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                  </div>
                  <a class="read_more" href="#">Read More</a>
               </div>
            </div>
         </div>
      </div>
      <!-- about section -->
      <!--  footer -->
      <div th:replace="~{commons/footer::footer}"></div>
      <!-- end footer -->
      <!-- Javascript files-->
      <script th:src="@{/js/jquerys.min.js}"></script>
      <script th:src="@{/js/poppers.min.js}"></script>
      <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
      <script th:src="@{/js/jquery-3.0.0.min.js}"></script>
      <!-- sidebar -->
      <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
   </body>
</html>