<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>sungla</title>
      <!-- basic -->
      <meta charset="utf-8">
      <!-- bootstrap css -->
      <link rel="stylesheet" th:href="@{/css/bootstraps.min.css}">
      <!-- style css -->
      <link rel="stylesheet" th:href="@{/css/styles.css}">
      <!-- Responsive-->
      <link rel="stylesheet" th:href="@{/css/responsive.css}">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
   </head>
   <!-- body -->
   <body class="main-layout position_head">
      <!-- header -->
      <div th:replace="~{commons/header::header(active='cart')}"></div>
      <!-- end header -->
      <!-- contact section -->
      <div id="contact" class="contact">
         <div class="container">
            <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
            <table class="table table-hover">
               <thead>
               <tr>
                  <th scope="col">商品编号</th>
                  <th scope="col">商品名称</th>
                  <th scope="col">单价</th>
                  <th scope="col">数量</th>
                  <th scope="col">小计</th>
                  <th scope="col">操作</th>
               </tr>
               </thead>
               <tbody>
               <tr th:each="cart:${carts}">
                  <td th:text="${cart.getGoodsID()}"></td>
                  <td th:text="${cart.getGoodsName()}"></td>
                  <td th:text="${cart.getPrice()}"></td>
                  <td th:text="${cart.getAmount()}"></td>
                  <td th:text="${cart.getTotal()}"></td>
                  <td>
                     <a th:href="@{/user/inc(cartID=${cart.getCartID()})}" type="button" class="btn btn-outline-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                     </svg></a>
                     <a th:href="@{/user/dec(cartID=${cart.getCartID()})}" type="button" class="btn btn-outline-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                     </svg></a>
                     <a th:href="@{/user/delete(cartID=${cart.getCartID()})}" type="button" class="btn btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                     </svg></a>
                  </td>
               </tr>
               </tbody>
            </table>
            <a th:href="@{/user/submit(cusName=${session.userNow},total=${total_})}" type="button" class="btn btn-outline-dark">提交订单[[${total_}]]</a>
         </div>
      </div>
      </div>
      <!-- end contact section -->
      <!--  footer -->
      <div th:replace="~{commons/footer::footer}"></div>
      <!-- end footer -->
      <!-- Javascript files-->
      <script th:src="@{/js/jquerys.min.js}"></script>
      <script th:src="@{/js/poppers.min.js}"></script>
      <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
      <script th:src="@{/js/jquery-3.0.0.min.js}"></script>
      <!-- sidebar -->
      <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
   </body>
</html>