<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>sungla</title>
      <!-- basic -->
      <meta charset="utf-8">
      <!-- bootstrap css -->
      <link rel="stylesheet" th:href="@{/css/bootstraps.min.css}">
      <!-- style css -->
      <link rel="stylesheet" th:href="@{/css/styles.css}">
      <!-- Responsive-->
      <link rel="stylesheet" th:href="@{/css/responsive.css}">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
   </head>
   <!-- body -->
   <body class="main-layout position_head">
      <!-- header -->
      <div th:replace="~{commons/header::header(active='glasses')}"></div>
      <!-- end header -->
      <!-- Our  Glasses section -->
      <div class="glasses">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="titlepage">
                     <h2>Our Glasses</h2>
                     <p>2020春夏太阳，质感在细节中映射，方寸之间的精致与考究不明而喻</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6" th:each="item:${items}">
                  <div class="glasses_box">
                     <figure><img th:src="@{${item.getImage()}}" alt="#"/></figure>
                     <h3><span class="blu">$</span>[[${item.getPrice()}]]</h3>
                     <p>[[${item.getGoodsName()}]](库存剩余：[[${item.getStock()}]])</p>
                     <a type="button" class="btn btn-outline-dark" th:href="@{/user/add(goodsID=${item.getGoodsID()})}">加入购物车</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Our  Glasses section -->
      <!--  footer -->
      <div th:replace="~{commons/footer::footer}"></div>
      <!-- end footer -->
      <!-- Javascript files-->
      <script th:src="@{/js/jquerys.min.js}"></script>
      <script th:src="@{/js/poppers.min.js}"></script>
      <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
      <script th:src="@{/js/jquery-3.0.0.min.js}"></script>
      <!-- sidebar -->
      <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
   </body>
</html>

