<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstraps.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
</head>
<!-- body -->
<body class="main-layout position_head">
<!-- header -->
<header>
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a th:href="@{/user/index}"><img th:src="@{/img/logo.png}" alt="#" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
<!-- about section -->
<div class="about">
    <div class="container">
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <form class="form-inline" th:action="@{/user/orders_}" onsubmit="return checkID()">
            <label class="my-1 mr-2" for="orderFormID">您的订单号</label>
            <input type="text" class="form-control" id="orderFormID" name="orderFormID" onblur="checkID()">
            <button type="submit" class="btn btn-outline-dark my-1">查询</button>
        </form>
        <span  style="font-size:13px" id="orderFormIDSpan"></span>
    </div>
</div>
<!-- about section -->
<!--  footer -->
<div th:replace="~{commons/footer::footer}"></div>
<!-- end footer -->
<!-- Javascript files-->
<script th:src="@{/js/jquerys.min.js}"></script>
<script th:src="@{/js/poppers.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.0.0.min.js}"></script>
<!-- sidebar -->
<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
</body>
<script>
    function checkID() {
        var id = document.getElementById("orderFormID").value;
        var spanNode = document.getElementById("orderFormIDSpan");
        var reg = /^\d{4,10}$/;
        if(reg.test(id)){
            spanNode.innerHTML = "";
            return true;
        }else{
            spanNode.innerHTML = "4-10位的数字".fontcolor("red");
            return false;
        }
    }
</script>
</html>