<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstraps.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
</head>
<!-- body -->
<body class="main-layout position_head">
<!-- header -->
<header>
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a th:href="@{/user/index}"><img th:src="@{/img/logo.png}" alt="#" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
<!-- about section -->
<div class="about">
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">订单编号</th>
                <th scope="col">商品编号</th>
                <th scope="col">数量</th>
                <th scope="col">提交日期</th>
                <th scope="col">状态</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderForm:${orderForms}">
                <td th:text="${orderForm.getOrderFormID()}"></td>
                <td th:text="${orderForm.getGoodsID()}"></td>
                <td th:text="${orderForm.getAmount()}"></td>
                <td th:text="${orderForm.getOrderFormDate()}"></td>
                <td th:text="${orderForm.getStatus()}"></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/user/orders}" class="btn btn-outline-dark my-1">返回查询</a>
        <a th:href="@{/user/index}" class="btn btn-outline-dark my-1">返回首页</a>
    </div>
</div>
<!-- about section -->
<!--  footer -->
<div th:replace="~{commons/footer::footer}"></div>
<!-- end footer -->
<!-- Javascript files-->
<script th:src="@{/js/jquerys.min.js}"></script>
<script th:src="@{/js/poppers.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.0.0.min.js}"></script>
<!-- sidebar -->
<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
</body>
</html>