<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品详情</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/layer.js}" type="text/javascript"></script>
    <script th:src="@{/js/html5shiv.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/respond.min.js}" type="text/javascript"></script>
    <link id="layuicss-skinlayercss" th:href="@{js/skin/default/layer.css v=3.0.11110}" rel="stylesheet" type="text/css"/>



</head>
<body windowc_onresizez="true">

<!--导航栏部分-->
<div th:replace="~{commons/header :: head}"></div>

<!-- 中间内容 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10">
            <h1><th: text="${goods.goodsName}"/></h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-5 col-md-5">
            <img class="detail-img" src="${image}">
        </div>
        <div class="col-sm-5 col-md-5 detail-x">
            <table class="table table-striped">
                <tr>
                    <th>商品名称</th>
                    <td><th: text="${goods.goodsName}"/></td>
                </tr>
                <tr>
                    <th>商品价格</th>
                    <td><th: text="${goods.price}"/></td>
                </tr>
                <tr>
                    <th>商品描述</th>
                    <td><th: text="${goods.description}"/></td>
                </tr>
                <tr>
                    <th>商品类别</th>
                    <td>
                        <th:if test="${'1' eq goods.category}">
                            衣服配饰
                        </th:if>
                        <th:if test="${'2' eq goods.category}">
                            数码产品
                        </th:if>
                        <th:if test="${'3' eq goods.category}">
                            书籍办公
                        </th:if>
                        <th:if test="${'4' eq goods.category}">
                            游戏周边
                        </th:if>
                        <th:if test="${'5' eq goods.category}">
                            生活用品
                        </th:if>
                        <th:if test="${'6' eq goods.category}">
                            化妆用品
                        </th:if>
                        <th:if test="${'7' eq goods.category}">
                            运动用品
                        </th:if>


                    </td>
                </tr>
                <tr>
                    <th>商品库存</th>
                    <td><th: text="${goods.counts}"/></td>
                </tr>
                <tr>
                    <th>购买数量</th>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" onclick="subCounts()">-</button>
                            <button id="amount" type="button" class="btn btn-default">1</button>
                            <button type="button" class="btn btn-default" onclick="addCounts(1)">+</button>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <button class="btn btn-danger btn-lg col-sm-4 col-md-4 col-lg-4" onclick="addToShoppingCar(${goods.goodsID})">添加购物车</button>
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <button  class="btn btn-danger btn-lg col-sm-4 col-md-4 col-lg-4" onclick="buyConfirm(${goods.goodsID})">购买</button>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <hr class="division"/>
            <table class="table evaluationTable" border="0" id="evaluation">
            </table>
            <hr/>
            <div id="inputArea"></div>
        </div>
    </div>
</div>

<!-- 尾部 -->
<hr>
<div th:replace="~{commons/footer :: foot}"></div>


<script th:inline="javascript">
    listEvaluations();

    function addToShoppingCar(goodsID) {
        judgeIsLogin();
        var amount = document.getElementById("amount");
        var counts = parseInt(amount.innerHTML);
        var shoppingCar = {};
        shoppingCar.cusID ="${currentUser.cusID}";
        shoppingCar.goodsID = goodsID;
        shoppingCar.amount = counts;
        var addResult = "";
        $.ajax({
            async : false,
            type : 'POST',
            url : '/user/addCart',
            data : shoppingCar,
            dataType : 'json',
            success : function(result) {
                addResult = result.result;
            },
            error : function(result) {
                layer.alert('查询用户错误');
            }
        });
        if(addResult == "success") {
            layer.confirm('前往购物车？', {icon: 1, title:'添加成功',btn:['前往购物车','继续浏览']},
                function(){
                    window.location.href = "/user/shopping_car";
                },
                function(index){
                    layer.close(index);}
            );
        }
    }

    function judgeIsLogin() {
        if("${currentUser.cusID}" == null || "${currentUser.cusID}" == undefined || "${currentUser.cusID}" ==""){
            window.location.href = "/user/login";
        }
    }

    function subCounts() {
        var amount = document.getElementById("amount");
        var counts = parseInt(amount.innerHTML);
        if(counts>=2)
            counts--;
        amount.innerHTML = counts;
    }

    function addCounts() {
        var amount = document.getElementById("amount");
        var counts = parseInt(amount.innerHTML);
        if(counts<"${goods.counts}")
            counts++;
        amount.innerHTML = counts;
    }

    function buyConfirm(goods) {
        var address = getUserAddress(${currentUser.id});
        var phoneNumber = getUserPhoneNumber(${currentUser.id});
        var amount = document.getElementById("amount");
        var counts = parseInt(amount.innerHTML);
        var product = getProductById(goods);
        var html = '<div class="col-sm-1 col-md-1 col-lg-1"></div>'+
            '<div class="col-sm-10 col-md-10 col-lg-10">'+
            '<table class="table confirm-margin">'+
            '<tr>'+
            '<th>商品名称：</th>'+
            '<td>'+product.name+'</td>'+
            '</tr>'+
            '<tr>'+
            '<th>商品单价：</th>'+
            '<td>'+product.price+'</td>'+
            '</tr>'+
            '<tr>'+
            '<th>购买数量：</th>'+
            '<td>'+counts+'</td>'+
            '</tr>'+
            '<tr>'+
            '<th>总金额：</th>'+
            '<td>'+counts*product.price+'</td>'+
            '</tr>'+
            '<tr>'+
            '<th>收货地址：</th>'+
            '<td>'+address+'</td>'+
            '</tr>'+
            '<tr>'+
            '<th>联系电话：</th>'+
            '<td>'+phoneNumber+'</td>'+
            '</tr>'+
            '</table>'+
            '<div class="row">'+
            '<div class="col-sm-4 col-md-4 col-lg-4"></div>'+
            '<button class="btn btn-danger col-sm-4 col-md-4 col-lg-4" onclick="addToShoppingRecords('+productId+')">确认购买</button>'+
            '</div>'+
            '</div>';
        layer.open({
            type:1,
            title:'请确认订单信息：',
            content:html,
            area:['650px','350px'],
        });
    }

    function getProductById(goodsID) {
        var productResult = "";
        var goods = {};
        goods.goodsID = goodsID;
        $.ajax({
            async : false, //设置同步
            type : 'POST',
            url : '/user/findGoodsBybID',
            data : goods,
            dataType : 'json',
            success : function(result) {
                productResult = result.result;
            },
            error : function(result) {
                layer.alert('查询错误');
            }
        });
        productResult = JSON.parse(productResult);
        return productResult;
    }

    function getUserAddress(cusID) {
        var address = "";
        var customer = {};
        customer.cusID = cusID;
        $.ajax({
            async : false, //设置同步
            type : 'POST',
            url : '/user/getUserAddressAndPhoneNumber',
            data : user,
            dataType : 'json',
            success : function(result) {
                address = result.address;
            },
            error : function(result) {
                layer.alert('查询错误');
            }
        });
        return address;
    }

    function getUserPhoneNumber(cusID) {
        var phoneNumber = "";
        var customer = {};
        customer.cusID =cusID ;
        $.ajax({
            async : false, //设置同步
            type : 'POST',
            url : '/user/getUserAddressAndPhoneNumber',
            data : customer,
            dataType : 'json',
            success : function(result) {
                phoneNumber = result.phoneNumber;
            },
            error : function(result) {
                layer.alert('查询错误');
            }
        });
        return phoneNumber;
    }

    function addToShoppingRecords(goodsID) {
        judgeIsLogin();
        var amount = document.getElementById("amount");
        var counts = parseInt(amount.innerHTML);
        var shoppingRecord = {};
        shoppingRecord.userId = "${currentUser.id}";
        shoppingRecord.goodsID = goodsID;
        shoppingRecord.amount = counts;
        var buyResult = "";
        $.ajax({
            async : false,
            type : 'POST',
            url : '/user/addShoppingRecord',
            data : shoppingRecord,
            dataType : 'json',
            success : function(result) {
                buyResult = result.result;
            },
            error : function(result) {
                layer.alert('购买错误');
            }
        });
        if(buyResult == "success") {
            layer.confirm('前往订单状态？', {icon: 1, title:'购买成功',btn:['前往订单','继续购买']},
                function(){
                    window.location.href = "/user/shopping_record";
                },
                function(index){
                    layer.close(index);}
            );
        }
        else if(buyResult == "unEnough"){
            layer.alert("库存不足，购买失败")
        }
    }

    function listEvaluations() {
        var evaluations = getEvaluations();
        var evaluationTable = document.getElementById("evaluation");
        var html = "";
        for(var i=0;i<evaluations.length;i++){
            var user = getUserById(evaluations[i].userId);
            html+='<tr>'+
                '<th>'+user.nickName+'</th>'+
                '<td>'+evaluations[i].content+'</td>'+
                '</tr>';
        }
        evaluationTable.innerHTML += html;

        if(getUserProductRecord() == "true"){
            var inputArea = document.getElementById("inputArea");
            html= '<div class="col-sm-12 col-md-12 col-lg-12">'+
                '<textarea class="form-control" rows="4" id="evaluationText"></textarea>'+
                '</div>'+
                '<div class="col-sm-12 col-md-12 col-lg-12">'+
                '<div class="col-sm-4 col-md-4 col-lg-4"></div>'+
                '<button class="btn btn-primary btn-lg evaluationButton col-sm-4 col-md-4 col-lg-4" onclick="addToEvaluation()">评价</button>'+
                '</div>';
            inputArea.innerHTML +=html;
        }

    }

    function getUserProductRecord() {
        var results = "";
        var product = {};
        product.userId = "${currentUser.cusID}";
        product.goodsID = "${goods.cusID}";
        $.ajax({
            async : false, //设置同步
            type : 'POST',
            url : '/user/getShoppingRecord',
            data : product,
            dataType : 'json',
            success : function(result) {
                results = result.result;
            },
            error : function(result) {
                layer.alert('查询错误');
            }
        });
        return results;
    }

    function getEvaluations() {
        var evaluations = "";
        var goods = {};
        goods.goodsID = "${goods.goodsID}";
        $.ajax({
            async : false, //设置同步
            type : 'POST',
            url : '/user/getShoppingEvaluations',
            data : goods,
            dataType : 'json',
            success : function(result) {
                evaluations = result.result;
            },
            error : function(result) {
                layer.alert('查询错误');
            }
        });
        evaluations = eval("("+evaluations+")");
        return evaluations;
    }

    function getUserById(cusID) {
        var customerResult = "";
        var customer = {};
        customer.cusID = cusID;
        $.ajax({
            async : false, //设置同步
            type : 'POST',
            url : '/user/getCustomerById',
            data : customer,
            dataType : 'json',
            success : function(result) {
                customerResult = result.result;
            },
            error : function(result) {
                layer.alert('查询错误');
            }
        });
        customerResult = JSON.parse(userResult);
        return customerResult;
    }

    function addToEvaluation() {
        var inputText = document.getElementById("evaluationText").value;
        var evaluation = {};
        evaluation.cusID = "${currentUser.cusIDd}";
        evaluation.goodsID = "${goods.cusID}";
        evaluation.commentary = inputText;
        var addResult = "";
        $.ajax({
            async : false,
            type : 'POST',
            url : '/user/addEvaluation',
            data : evaluation,
            dataType : 'json',
            success : function(result) {
                addResult = result.result;
            },
            error : function(result) {
                layer.alert('查询用户错误');
            }
        });
        if(addResult = "success"){
            layer.msg("评价成功",{icon:1});
            window.location.href = "/user/product_detail";
        }
    }

</script>

</body>
</html>