<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstraps.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}" media="screen">
</head>
<!-- body -->
<body class="main-layout position_head">
<!-- header -->
<header>
    <!-- header inner -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a th:href="@{/user/index}"><img th:src="@{/img/logo.png}" alt="#" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
<!-- about section -->
<div class="about">
    <div class="container">
        <form class="form-inline" th:action="@{/user/recharge_}">
            <label class="my-1 mr-2" for="balance">您要充值的金额</label>
            <select class="custom-select my-1 mr-sm-2" id="balance" name="balance">
                <option selected>Choose...</option>
                <option value="100">100</option>
                <option value="300">300</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
            <button type="submit" class="btn btn-outline-dark my-1">充值</button>
        </form>
    </div>
</div>
<!-- about section -->
<!--  footer -->
<div th:replace="~{commons/footer::footer}"></div>
<!-- end footer -->
<!-- Javascript files-->
<script th:src="@{/js/jquerys.min.js}"></script>
<script th:src="@{/js/poppers.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.0.0.min.js}"></script>
<!-- sidebar -->
<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
</body>
</html>