<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>在线商城</title>
<!--    <link href="/Shopping/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="/Shopping/css/style.css" rel="stylesheet">-->

<!--    <script src="/Shopping/js/jquery.min.js" type="text/javascript"></script>-->
<!--    <script src="/Shopping/js/bootstrap.min.js" type="text/javascript"></script>-->
<!--    <script src="/Shopping/js/layer.js" type="text/javascript"></script>-->
<!--    &lt;!&ndash;[if lt IE 9]>-->
<!--    <script src="/Shopping/js/html5shiv.min.js"></script>-->
<!--    <script src="/Shopping/js/respond.min.js"></script>-->
<!--    <![endif]&ndash;&gt;-->

    <link href="/Shopping/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Shopping/css/style.css" rel="stylesheet">

    <script src="/Shopping/js/jquery.min.js" type="text/javascript"></script>
    <script src="/Shopping/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Shopping/js/layer.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="/Shopping/js/html5shiv.min.js"></script>
    <script src="/Shopping/js/js/respond.min.js"></script>
    <![endif]-->


</head>
<body>
<!--导航栏部分-->
<div th:include="header.html :: common"/>

<!-- 中间内容 -->
<div class="container-fluid bigHead">
    <div class="row">
        <div class="col-sm-10  col-md-10 col-sm-offset-1 col-md-offset-1">
            <div class="jumbotron">
                <h1>欢迎来到购物车</h1>
                <p>您的购物车清单为</p>
            </div>
        </div>
        <div class="col-sm-10  col-md-10 col-sm-offset-1 col-md-offset-1">
            <table class="table table-hover center" id="shoppingCarTable">
            </table>

            <hr/>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <button type="button" class="btn btn-danger btn-lg col-lg-4 col-md-4 col-sm-4" onclick="confirmPre()">确认购买</button>
            </div>
        </div>
    </div>
</div>
<!-- 尾部 -->
<div th:include="foot.html :: common"/>

<script th:inline="javascript">
    updateShoppingCars();

    function updateShoppingCars() {
        var shoppingCarTable = document.getElementById("shoppingCarTable");
        var allShoppingCars = getShoppingCars();
        shoppingCarTable.innerHTML = "";
        var html = '<tr>'+
            '<th>是否购买</th>'+
            '<th>商品名称</th>'+
            '<th>商品单价</th>'+
            '<th>商品数量</th>'+
            '</tr>';
        for(var i=0;i<allShoppingCars.length;i++){
            var goods = getgoodsById(allShoppingCars[i].goodsID);
            html  += '<tr>'+
                '<td>'+
                '<div class="checkbox">'+
                '<label>'+
                '<input type="checkbox" id="checkbox'+allShoppingCars[i].goodsID+'" value="option1">'+
                '</label>'+
                '</div>'+
                '</td>'+
                '<td>'+goods.name+'</td>'+
                '<td>'+goods.price+'</td>'+
                '<td>'+allShoppingCars[i].counts+'</td>'+
                '</tr>';
        }
        shoppingCarTable.innerHTML += html;

    }

    function getShoppingCars() {
        judgeIsLogin();
        var shoppingCargoodss = "";
        var user = {};
        user.userId = "${currentUser.id}";
        $.ajax({
            async : false, //设置同步
            type : 'POST',
            url : '/Shopping/getShoppingCars',
            data : user,
            dataType : 'json',
            success : function(result) {
                shoppingCargoodss = result.result;
            },
            error : function(result) {
                layer.alert('查询错误');
            }
        });
        shoppingCargoodss = eval("("+shoppingCargoodss+")");
        return shoppingCargoodss;
    }

    function confirmPre() {
        var allShoppingCars = getShoppingCars();
        var buygoodss = new Array;
        var buygoodssCounts = new Array;
        var buyCounts = 0;
        for(var i=0;i<allShoppingCars.length;i++){
            var checkBox = document.getElementById("checkbox"+allShoppingCars[i].goodsID);
            if(checkBox.checked){
                buygoodss[buyCounts] = allShoppingCars[i].goodsID;
                buygoodssCounts[buyCounts] = allShoppingCars[i].counts;
                buyCounts++;
            }
        }
        if(buyCounts == 0){
            layer.msg("未选中商品",{icon:2});
        }
        else{
            buyConfirm(buygoodss,buygoodssCounts);
        }
    }

    function getgoodsById(id) {
        var goodsResult = "";
        var goods = {};
        goods.id = id;
        $.ajax({
            async : false, //设置同步
            type : 'POST',
            url : '/Shopping/getgoodsById',
            data : goods,
            dataType : 'json',
            success : function(result) {
                goodsResult = result.result;
            },
            error : function(result) {
                layer.alert('查询错误');
            }
        });
        goodsResult = JSON.parse(goodsResult);
        return goodsResult;
    }

    function judgeIsLogin() {
        if("${currentUser.id}" == null || "${currentUser.id}" == undefined || "${currentUser.id}" ==""){
            window.location.href = "/Shopping/login";
        }
    }

    function buyConfirm(goodssId,goodssCounts) {
        var address = getUserAddress(${currentUser.id});
        var phoneNumber = getUserPhoneNumber(${currentUser.id});
        var totalPrice = 0;

        var html = '<div class="col-sm-1 col-md-1 col-lg-1"></div>'+
            '<div class="col-sm-10 col-md-10 col-lg-10">'+
            '<table class="table confirm-margin">';
        for(var i=0;i<goodssId.length;i++){
            var goods = getgoodsById(goodssId[i]);
            html +=	'<tr>'+
                '<th>商品'+(i+1)+'名称：</th>'+
                '<td>'+goods.name+'</td>'+
                '</tr>'+
                '<tr>'+
                '<th>商品单价：</th>'+
                '<td>'+goods.price+'</td>'+
                '</tr>'+
                '<tr>'+
                '<th>购买数量：</th>'+
                '<td>'+goodssCounts[i]+'</td>'+
                '</tr>'+
                '<tr>';
            totalPrice+=goods.price*goodssCounts[i];
        }
        html +='<th>总金额：</th>'+
            '<td>'+totalPrice+'</td>'+
            '</tr>'+
            '<tr>'+
            '<th>收货地址：</th>'+
            '<td>'+address+'</td>'+
            '</tr>'+
            '<tr>'+
            '<th>联系电话：</th>'+
            '<td>'+phoneNumber+'</td>'+
            '</tr>'+
            '</table>'+
            '<div class="row">'+
            '<div class="col-sm-4 col-md-4 col-lg-4"></div>'+
            '<button class="btn btn-danger col-sm-4 col-md-4 col-lg-4" onclick="addToShoppingRecordsPre(['+goodssId+'],['+goodssCounts+'])">确认购买</button>'+
            '</div>'+
            '</div>';
        layer.open({
            type:1,
            title:'请确认订单信息：',
            content:html,
            area:['650px','350px'],
        });
    }


    function getUserAddress(id) {
        var address = "";
        var user = {};
        user.id = id;
        $.ajax({
            async : false, //设置同步
            type : 'POST',
            url : '/Shopping/getUserAddressAndPhoneNumber',
            data : user,
            dataType : 'json',
            success : function(result) {
                address = result.address;
            },
            error : function(result) {
                layer.alert('查询错误');
            }
        });
        return address;
    }


    function getUserPhoneNumber(cusID) {
        var phoneNumber = "";
        var customer = {};
        customer.cusID = cusID;
        $.ajax({
            async : false, //设置同步
            type : 'POST',
            url : '/Shopping/getUserAddressAndPhoneNumber',
            data : customer,
            dataType : 'json',
            success : function(result) {
                phoneNumber = result.phoneNumber;
            },
            error : function(result) {
                layer.alert('查询错误');
            }
        });
        return phoneNumber;
    }

    function addToShoppingRecordsPre(goodsID,stock) {
        for(var i=0;i<goodsID.length;i++){
            addToShoppingRecords(goodsID[i],stock[i]);
        }
        layer.confirm('前往订单状态？', {icon: 1, title:'购买成功',btn:['前往订单','继续购买']},
            function(){
                window.location.href = "/Shopping/shopping_record";
            },
            function(index){
                window.location.href = "/Shopping/shopping_car";
            }
        );
    }

    function addToShoppingRecords(goodsID,amount) {
        judgeIsLogin();
        var shoppingRecord = {};
        shoppingRecord.cusID = "${currentUser.cusID}";
        shoppingRecord.goodsID = goodsID;
        shoppingRecord.stock = amount;
        var buyResult = "";
        $.ajax({
            async : false,
            type : 'POST',
            url : '/Shopping/addShoppingRecord',
            data : shoppingRecord,
            dataType : 'json',
            success : function(result) {
                buyResult = result.result;
            },
            error : function(result) {
                layer.alert('购买错误');
            }
        });
        var goods = getgoodsById(goodsID);
        if(buyResult == "success") {
            deleteShoppingCar(goodsID);
            layer.msg("商品 "+goods.name+" 购买成功",{icon:1});
        }
        else if(buyResult == "unEnough"){
            layer.alert("商品 "+goods.name+" 库存不足，购买失败")
        }
    }

    function deleteShoppingCar(goodsID) {
        var shoppingCar = {};
        shoppingCar.cusID = "${currentUser.cusID}";
        shoppingCar.goodsID = goodsID;
        var deleteResult = "";
        $.ajax({
            async : false,
            type : 'POST',
            url : '/Shopping/deleteShoppingCar',
            data : shoppingCar,
            dataType : 'json',
            success : function(result) {
                deleteResult = result.result;
            },
            error : function(result) {
                layer.alert('查询用户错误');
            }
        });
    }
</script>




</body>
</html>