.cartTitle{
    color: purple;
}
.goodTitle{
    background-color:#F3F3F3;
}
.goodBody{
    background-color: #FFF4E8;
}
.noGood{
    text-align: center;
}
.sumPrice{
    background-color:#F3F3F3;
    text-align: right;
}
.operation{
    background-color:#F3F3F3;
    text-align: left;
}
.goodPicture{
    height: 100px;
    width: 100px;
}
.goodName{
    width: 150px;
    text-align: center;
}
.goodCategory{
    width: 150px;
    text-align: center;
}
.goodDescription{
    width: 350px;
    height: 100px;
}
.goodPrice{
    width: 100px;
    text-align: center;
}
.amount{
    width: 35px;
    background-color: #FFF4E8;
}
.goodAmount{
    width: 100px;
    text-align: center;
}
.goodOperation{
    width: 70px;
    text-align: center;
}
.goodPictureTh{
    width: 100px;
    text-align: center;
}
.goodNameTh{
    width: 150px;
    text-align: center;
}
.goodCategoryTh{
    width: 150px;
    text-align: center;
}
.goodDescriptionTh{
    width: 350px;
    text-align: center;
}
.goodPriceTh{
    width: 100px;
    text-align: center;
}
.goodAmountTh{
    width: 100px;
    text-align: center;
}
.goodOperationTh{
    width: 70px;
    text-align: center;
}

.changeAmount {
    background-color:#FFF4E8;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.del{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.select{
    background-color: green;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.buy{
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
img{
    height: 100px;
    width: 100px;
}
#location{
    width: 500px;
    background-color: #F3F3F3;
}
.location{
    background-color:#F3F3F3;
    text-align: right;
}
#buy{
    display: none;
}