<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<title>OnlineMall</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<!-- Custom styles -->
		<link th:href="@{/css/signin.css}" rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" th:action="@{/admin/login}">
			<img class="mb-4" th:src="@{/img/feather.svg}" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">请登录</h1>
			<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
			<label class="sr-only">管理员ID</label>
			<input type="text" name="adminID" class="form-control" placeholder="ID" required="" autofocus="">
			<label class="sr-only">密码</label>
			<input type="password" name="adminPwd" class="form-control" placeholder="Password" required="">
			<div class="checkbox mb-3">
                <label><input type="checkbox" value="remember-me">记住我</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
			<p class="mt-5 mb-3 text-muted">© 2020-2021</p>
			<a class="btn btn-sm">中文</a>
			<a class="btn btn-sm">English</a>
		</form>
	</body>
</html>