<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sungla</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstraps.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
</head>
<body>
<div class="card" style="text-align: center">
    <div class="card-header">
        尊敬的 [[${session.userNow}]]
    </div>
    <div class="card-body">
        <h5 class="card-title">感谢！</h5>
        <p class="card-text">您的充值已到账</p>
        <a th:href="@{/user/index}" class="btn btn-outline-dark">返回购物</a>
    </div>
</div>
</body>
</html>